<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

  <Appenders>
    <Console name="CONSOLE">
      <JsonTemplateLayout/>
    </Console>
    <File name="FILE"
      fileName="logs/build-logs.json">
      <JsonTemplateLayout/>
    </File>
    <Async name="ASYNC">
      <AppenderRef ref="FILE"/>
    </Async>
  </Appenders>

  <Loggers>
    <Logger name="VGRTool" level="INFO"/>
    <Root level="INFO">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="ASYNC"/>
    </Root>
  </Loggers>

</Configuration>
